$color-primary: #2a9d8f; 
$color-primary-dark: #264653;
$color-error: #e76f51;

$color-grey-dark: #777;
$color-grey-light: #dce2e2;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;