.form{
    @include flex-column;
    align-items: center;
    justify-content: space-around;
    padding: 15rem 0;
    height: 100%;
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);   

    &__section{
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__heading{
        font-size: 2rem;
        margin-bottom: .5rem;
        padding: 1.5rem;
    }

}


